CREATE OR REPLACE FUNCTION get_plan_preview(p_plan_id UUID)
RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
AS \$\$
DECLARE
    plan_data JSONB;
BEGIN
    SELECT jsonb_build_object(
        'id', p.id,
        'title', p.title,
        'event_date', p.event_date,
        'location_name', p.location_name,
        'creator_id', p.creator_id
    ) INTO plan_data
    FROM public.plans p
    WHERE p.id = p_plan_id;
    
    RETURN plan_data;
END;
\$\$;
